* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    min-height: 100vh;
}
.container{
    display: flex;
    width: 1047px;
    height: 350px;
}
.container img{
        max-width: 350px;
        box-shadow: 0px 0px 8px grey;
        border-radius: 5px;
        transform-origin: center;
        transform: perspective(800px) rotateY(20deg);
    transition: 0.5s;
}
.container:hover img{
    opacity: 0.3;
}
.container img:hover{
    transform-origin: center;
        transform: perspective(800px) rotateY(0deg);
    /* transition: 0.5s; */
    opacity: 1;
}